article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 12px/18px Roboto, sans-serif;
    margin: 0 auto;
    background-color: #221F1E;
    color: #A94E33;
}

#wrapper {}


/* Header
-----------------------------------------------------------------------------*/
header {
    height: auto;
}

#flex-header {
    display: flex;
}


h1 img {
    width: 40%;
    padding-left: 5%;
}


#menu-section {
    width: 60%;
    margin: auto;
    padding-right: 5%;
}

#menu {
    list-style: none;
    display: block;
}

ul {
    display: block
}

ul li {
    display: inline;
    padding: 3%;
    text-decoration: none;
}

#menu li a {
    text-decoration: none;
    color: #A94E33
}

.menu-link {
    font-size: 1.6em;
}





/* Middle
-----------------------------------------------------------------------------*/
main {}

video {
    max-width: 100%;
}

.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slides {
    display: none;
}

#flex-om-os {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#om-os {
    margin-right: 10%;
}

h2 {
    font-size: 2.8em;
}

p {
    font-size: 1.6em;
    line-height: 1.6em;
    padding-top: 2%;
    color: white;
}

.thing1 {
    width: 1920;
    background-image: url(../images/bazarvest.gif);
    padding-bottom:90%;
}

#flex-vores-historie {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50%;
    padding-top: 2.5%;
    background-color: #221F1E;
    display: flex;
    flex-direction: row-reverse;
}

#vores-historie {
    width: 60%; padding-left: 5%;
}

#vores-historie-2 {
    width: 40%; padding-right: 5%;
}

img {
    max-width: 100%;
}


/* Footer
-----------------------------------------------------------------------------*/
footer {
    height: auto;
    background: #BFF08E;
}


/* Devices___________________________________________________________________*/
