article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 12px/18px Roboto, sans-serif;
    margin: 0 auto;
    background-color: #221F1E;
    color: #A94E33;
}

#wrapper {}


/* Header
-----------------------------------------------------------------------------*/
header {
    height: auto;
}

#flex-header {
    display: flex;
}


h1 img {
    width: 40%;
    padding-left: 5%;
}


#menu-section {
    width: 60%;
    margin: auto;
    padding-right: 5%;
}

#menu {
    list-style: none;
    display: block;
}

ul {
    display: block
}

ul li {
    display: inline;
    padding: 3%;
    text-decoration: none;
}

#menu li a {
    text-decoration: none;
    color: #A94E33;
    font-weight: bold;
}

.menu-link {
    font-size: 1.6em;
}





/* Middle
-----------------------------------------------------------------------------*/
main {
    height: ;
}

video {
    max-width: 100%;
}

.slideshow {
    position: relative;
    margin: auto;
    width: 70%;
    padding-top: 6%;
}

.slides {
    display: none;
}

#flex-om-os {
    display: flex;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#om-os-tekst {
    padding-right: 10%;
    width: 60%;
}



h2 {
    font-size: 2.8em;
}

p {
    font-size: 1.6em;
    line-height: 1.8em;
    padding-top: 2%;
    color: white;
}


.bazargif {
    padding-bottom: 22%;
}

#parallax-vores-historie-container {
    margin-bottom: 110px;
}

#flex-vores-historie {
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-bottom: 5%;
    padding-top: 4%;
    background-color: #221F1E;
    display: flex;
    flex-direction: row-reverse;
}

#vores-historie-tekst {
    width: 60%;
    padding-left: 5%;
}

#vores-historie-img {
    width: 40%;
    padding-right: 5%;
    margin: auto;
}

img {
    max-width: 100%;
}

.img-par {
    width: 60%;
}

#bager-video {
    padding-bottom: 20%;
}

#paralax-succes-container {
    padding-top: 5%;
}


#flex-succes {
    display: flex;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #D0b39b;
}

#succes-tekst p {
    color: #221f1e;

}

#succes-tekst {
    width: 65%;
}

#succes-img {
    width: 30%;
    padding-top: 4%;

}


#flex-article-4 {
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-bottom: 6%;
    padding-top: 6%;
    background-color: #221F1E;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
}

#article-4-tekst {
    width: 60%;
    padding-left: 5%;
}

#article-4-img {
    width: 40%;
    padding-right: 5%;
}



#poster {
    display: flex;
    flex-direction: row;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 4%;
    background-color: #D0b39b;
}

.poster-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 10%;
}

#flex1 {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#flex2 {
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* Footer
-----------------------------------------------------------------------------*/
footer {
    height: auto;
    background: #221F1E;
    margin-bottom: -500px;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer h3 {
    color: white;
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 0;
}
footer p {
    color: white;
    font-size: 1.6em;
    margin:0;
}

#footer-flex {
    display: flex;
    margin: auto;
}

#footer-logo {
    max-width: 5%;
    margin:auto;
}

#kontakt {
    display: flex;
    flex-direction: column;
    width: ;
    margin-left:auto;
    margin-right:auto;
    text-align: center;

}

#navigation {
    display: flex;
    flex-direction: column;
    width: ;
    margin-left:auto;
    margin-right:auto;
    text-align: center;

}

#facebook {
    max-width: 5%;
    margin:auto;
}


/* Devices___________________________________________________________________*/
